h1 {
  font: 50px bold arial, sans-serif;
  color: pink;
}

p {
  color: blue;
}

body {
  padding: 5%;
  background-color: white;
}

.gradeBox {
  width: 100%;
  height: 2em;
  background-color: white;
  margin: 1em 0;
}
